absl-py==2.1.0
adapt==0.4.4
astunparse==1.6.3
attrdict @ file:///home/conda/feedstock_root/build_artifacts/attrdict_1662574923983/work
attrs @ file:///croot/attrs_1668696182826/work
autofeat==2.0.10
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.12.2
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
brotlipy==0.7.0
cachetools==5.3.2
celer==0.7.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1718025014955/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer==3.3.2
click @ file:///tmp/build/80754af9/click_1646056591685/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
colorama @ file:///croot/colorama_1672386526460/work
cryptography @ file:///croot/cryptography_1677533068310/work
cvxopt==1.3.2
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
daal4py==2021.6.0
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deep-tabular-augmentation==0.5.3
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated @ file:///opt/conda/conda-bld/deprecated_1659726428456/work
docopt @ file:///opt/conda/conda-bld/docopt_1663662411880/work
dowhy @ file:///home/conda/feedstock_root/build_artifacts/dowhy_1658229281487/work
download==0.3.5
econml @ file:///home/conda/feedstock_root/build_artifacts/econml_1642942740590/work
entrypoints==0.4
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
filelock==3.12.2
flatbuffers==23.5.26
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
focal-loss-torch==0.1.2
future==1.0.0
gast==0.4.0
gdown==4.7.1
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455532931/work
google-auth==2.28.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grad-cam==1.4.8
graphviz @ file:///opt/conda/conda-bld/python-graphviz_1660063183935/work
grpcio==1.62.0
h5py @ file:///tmp/abs_4aewd3wzey/croots/recipe/h5py_1659091371897/work
humanize @ file:///tmp/build/80754af9/humanize_1625744396225/work
idna==3.6
imageio==2.31.2
imea==0.3.3
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1648562407465/work
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1620912939357/work/dist/ipykernel-5.5.5-py3-none-any.whl
ipympl @ file:///home/conda/feedstock_root/build_artifacts/ipympl_1676535632179/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1651240553635/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///croot/ipywidgets_1701289330913/work
jedi @ file:///tmp/build/80754af9/jedi_1644299024593/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1655912915439/work
joblib @ file:///croot/joblib_1666298844297/work
jsonpatch==1.33
jsonpointer==2.4
jsonschema @ file:///croot/jsonschema_1676558650973/work
jupyter @ file:///home/conda/feedstock_root/build_artifacts/jupyter_1696255489086/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1616615302928/work
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
keras==2.11.0
keyboard @ file:///home/conda/feedstock_root/build_artifacts/keyboard_1636366246604/work
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
Lasagne @ https://github.com/Lasagne/Lasagne/archive/master.zip
lassonet==0.0.10
libclang==16.0.6
libsvmdata==0.4.1
lightgbm @ file:///tmp/build/80754af9/lightgbm_1633019117158/work
llvmlite==0.39.1
Markdown==3.4.4
MarkupSafe==2.1.5
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1592846017414/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
mpmath==1.2.1
nbconvert==5.6.1
nbformat @ file:///croot/nbformat_1670352325207/work
nest-asyncio==1.5.8
networkx @ file:///tmp/build/80754af9/networkx_1633639043937/work
neuroCombat==0.2.12
nibabel @ file:///home/conda/feedstock_root/build_artifacts/nibabel_1661973986047/work
notebook==6.0.1
nptyping==2.5.0
numba==0.56.4
numexpr @ file:///croot/numexpr_1668713893690/work
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1653915516269/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
opencv-python==4.9.0.80
opt-einsum==3.3.0
packaging @ file:///croot/packaging_1671697413597/work
pandas==1.3.5
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
patsy==0.5.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.5.0
Pint==0.18
pipreqs==0.4.13
pkgutil_resolve_name @ file:///opt/conda/conda-bld/pkgutil-resolve-name_1661463321198/work
prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
prompt-toolkit @ file:///croot/prompt-toolkit_1672387306916/work
protobuf==4.24.4
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydicom @ file:///home/conda/feedstock_root/build_artifacts/pydicom_1692139723652/work
pydot @ file:///tmp/build/80754af9/pydot_1615394953203/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pykwalify==1.8.0
pynrrd==1.0.0
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
pyradiomics==3.1.0
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636098896055/work
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
python-dateutil==2.8.2
pytorch-adapt==0.0.83
pytorch-metric-learning==1.6.3
pytz @ file:///croot/pytz_1671697431263/work
PyWavelets==1.3.0
pyzmq==25.1.2
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1693604303222/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1698112029416/work
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
scikeras==0.10.0
scikit-image==0.19.3
scikit-learn==1.0.2
scikit-learn-intelex==2021.20220920.100934
scikit-neuralnetwork==0.7
scipy @ file:///opt/conda/conda-bld/scipy_1661390393401/work
seaborn==0.12.2
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
shap @ file:///tmp/build/80754af9/shap_1633430395883/work
SimpleITK==2.2.1
six==1.16.0
skglm @ file:///home/conda/feedstock_root/build_artifacts/skglm_1703326655827/work
sklearn-contrib-py-earth==0.1.0
slicer @ file:///tmp/build/80754af9/slicer_1633422823758/work
smogn==0.1.2
sortedcontainers==2.4.0
soupsieve==2.4.1
sparse @ file:///home/conda/feedstock_root/build_artifacts/sparse_1630177719379/work
statsmodels @ file:///croot/statsmodels_1676643798791/work
sympy @ file:///tmp/build/80754af9/sympy_1647835525989/work
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
terminado @ file:///tmp/build/80754af9/terminado_1644304459949/work
testpath @ file:///opt/conda/conda-bld/testpath_1655908557405/work
Theano==1.0.5
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2021.11.2
torch==1.13.1
torchaudio==0.12.1
torchgel==2.0.0
torchio @ file:///home/conda/feedstock_root/build_artifacts/torchio_1700791516942/work
torchmetrics==0.9.3
torchtext==0.14.1
torchvision==0.14.1
torchviz==0.0.2
tornado==6.2
tqdm==4.66.1
traitlets==5.9.0
trimesh @ file:///home/conda/feedstock_root/build_artifacts/trimesh_1711932211885/work
ttach==0.0.3
typing_extensions==4.7.1
urllib3==2.0.7
visdom==0.2.4
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.2.3
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1645009354203/work
wrapt @ file:///tmp/abs_c335821b-6e43-4504-9816-b1a52d3d3e1eel6uae8l/croots/recipe/wrapt_1657814400492/work
xarray==0.20.2
xgboost==1.6.2
yarg==0.1.9
zipp @ file:///croot/zipp_1672387121353/work
